@model MyStore.myDTO.ChangePassword_DTO

<!-- Start Banner Area -->

<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Thay Đổi Mật Khẩu </h1>
				<nav class="d-flex align-items-center">
					<a href="index.html">Trang chủ <span class="lnr lnr-arrow-right"></span></a>
					<a href="category.html">Thay Đổi Mật Khẩu </a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->
<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="login_box_img">
					<img class="img-fluid" src="~/img/login.jpg" alt="">
					<div class="hover">
						<h4>
							"Bạn mới sử dụng trang web của chúng tôi?"

						</h4>
						<p>"Công nghệ và khoa học đang phát triển từng ngày, và đây là một ví dụ điển hình!"</p>
						<a class="primary-btn" href="registration.html">Đăng Nhập Ngay</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="login_form_inner">
					<h3>Thay đổi mật khẩu</h3>
					<form class="row login_form" asp-action="ChangePassword" asp-controller="Account">
						<div class="text-danger col-md-12 form-group" asp-validation-summary="All"></div>
						<div class="col-md-12 form-group">
							<input type="password" class="form-control" asp-for=@Model.NewPassword placeholder="Mật khẩu Mới " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mật khẩu Mới '">
							<span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
						</div>
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" asp-for=@Model.ConfirmPassword placeholder="Nhập lại mật khẩu " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập lại mật khẩu '">
							<span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
						</div>
						
					
						<div class="col-md-12 form-group">
							<button type="submit" value="submit" class="primary-btn" style="border-radius: 6px">Thay Đổi Mật Khẩu </button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Login Box Area =================-->
@section Scripts {


	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
