@model MyStore.myDTO.ForgotPassword_DTO
@{
    ViewData["Title"] = "Quên Mật Khẩu";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Quên Mật Khẩu</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Trang Chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Quên Mật Khẩu</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Forgot Password Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Quên Mật Khẩu</h3>

                    <form class="row login_form" asp-action="SendOTPForForgot" asp-controller="Account" method="post">
                        <div class="text-danger col-md-12 form-group" asp-validation-summary="All"></div>

                        <div class="col-md-12 form-group">
                            <input type="email" asp-for="Email" class="form-control" placeholder="Nhập email của bạn" required>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="col-md-12 form-group text-center">
                            <button type="submit" class="primary-btn" style="border-radius: 6px;">Gửi OTP</button>
                        </div>
                    </form>

                    <div class="text-center mt-3">
                        <a href="/Account/Login">Quay lại đăng nhập</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Forgot Password Area =================-->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
